* {
  margin: 0;
}
.home {
  margin-left: -25px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.one {
  background-image: url("./gujarat.jpg");
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.two {
  height: 900px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PageContent {
  padding-left: 0 !important;
}
.spaceCard {
  position: relative;
  left: -3vw;
}
.Caard2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40vh;
  width: 25vw;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.avatar2 {
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 52px;
  position: relative;
  left: 36%;
  top: -30%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.first {
  height: 60%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  text-align: center;
}
.second {
  height: 40%;
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
